@model List<TblBlog>
@{

    bool isShowMessage = TempData["isSuccess"] !=null;
    bool isSuccess = false;
    string Message = "";
    if(isShowMessage)
    {
        isSuccess = Convert.ToBoolean(TempData["isSuccess"]);
        Message = Convert.ToString(TempData["Message"]);
    }
    
}
@if(isShowMessage)
{
    if(isSuccess)
    {
        <div class="alert alert-secondary" role="alert" > @Message </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert"> @Message </div>
    }

}

<a href="/Blog/Create" class="btn btn-outline-success">Create Blog</a>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
       @*  @foreach (var blog in Model)
        {
            <tr>
                <th>@blog.BlogId</th>
                <th>@blog.BlogTitle</th>
                <th>@blog.BlogAuthor</th>
                <th>@blog.BlogContent</th>
            </tr>
        } *@
        @for(int i=0; i< Model.Count; i++)
        {
            var blog = Model[i];

            <tr>
                <th>
                    <a href="/Blog/Edit/@(blog.BlogId)" class="btn btn-warning">Edit</a>
                    <a href="/Blog/Delete/@(blog.BlogId)" class="btn btn-danger">Delete</a>
                   @*  <a href="/Blog/Delete?BlogId=@(blog.BlogId)" class="btn btn-danger">Delete</a> *@
                </th>
                <th>@(i+1)</th>
                <th>@blog.BlogTitle</th>
                <th>@blog.BlogAuthor</th>
                <th>@blog.BlogContent</th>
            </tr>
        }

    </tbody>
</table>